@media only screen and (min-width: 801px){
* { margin: 0; padding: 0; }

body {
background: url(Background.png) center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; }

#page-wrap { width: 80%; margin: 20px auto; margin-bottom: 10px; padding: 0px; padding-top: 5px; border: 4px solid black;
   -moz-box-shadow: 0 0 40px black;
  -webkit-box-shadow: 0 0 40px black; box-shadow: 0 0 40px black; overflow: hidden;}

div.containerMain { float: center; max-width: 100%; max-height: 100%; align-content: center; }

div.containerH { width: 99.6%; margin-top: 0px; margin-left: 0px; border: 4px solid darkgray; }
header.horiz { font-size: 40px; text-align: center; border-bottom: 4px solid darkgrey; background-color: black; color: white; }
ul.horiz { font-size: 30px; list-style-type: none; margin: 0; padding: 0; padding-left: 10%; overflow: hidden; background-color: black; }
ul.horiz li { float: left; }
ul.horiz li a { display: block; color: white; text-align: center; margin-left: 30px; border-left: 4px solid darkgrey; border-right: 4px solid darkgrey; text-decoration: none; }
ul.horiz li a:hover { background-color: #25383C; filter: opacity(0.5); }

h2:hover { filter: opacity(0.35);}
body { text-align: center; font-size: 40px; }
h1 { color: white; text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black; }
